:root {
    --primary-color : #141414;
    --secundary-color : #5e0011;
    --third-color : #313131;
    --fourth-color: #aaaaaa;
    --fifth-color: #ffffff;
    --sixth-color: #d8d8d8;
    --seventh-color: rgb(151, 2, 2);
}

.contenedor {
    width: 80%;
    height: 80vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto 50px;
    text-align: center;
    background: url(../assets/img/Fondo_header.jpg) no-repeat center;
    border-bottom: var(--third-color) solid 1px;
}

.contenedor p {
    font-weight: bold;
}

.contenedor h1{
    padding-bottom: 20px;
    
}

.button {
    cursor: pointer;
    display: flex;
    background: var(--third-color);
    color: var(--fifth-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 250px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 34%;
    transform: translate(0, 80px);
}

.button i{
    padding: 10px;
}

.button:hover {
    background: var(--seventh-color);
    transition: .5s;
}

input {
    padding: 10px;
    outline: 0;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.cont_tit {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}



.contenedor_flou {
    margin: 20px auto 80px;
    width: 80%;
}

.contenedor_flou h2, .contenedor_flou p{
    text-align: center;
    margin-bottom: 1.5rem;
}

.galeria_flou {
    width: 100%;
    height: 40vh;    
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    border: var(--third-color) 1px solid;
    scrollbar-color: var(--fourth-color) var(--third-color);
    scrollbar-width: thin;
    flex-shrink: 0;
    justify-content: space-between;
}

.galeria_img {
    object-fit: cover;
    box-shadow: 0 5px 10px var(--fourth-color);
    transform: scale(95%);
}

.contenedor_titcards {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: auto;
    text-align: center;
    border-top: 1px solid var(--fourth-color);
}

.contenedor_titcards h2 {
    margin: 5vh auto 0;
}

.contenedor_titcards h2, .contenedor_titcards p, .contenedor_titcards a {
    margin-bottom: 1.5rem;
}

.contenedor_cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: auto;
    padding: 0 0 25px 0;
}

.cards_fondo {
    background-color: var(--third-color);
    padding: 0;
    border-radius: 10px;
    height: max-content;
    transition-duration: 2s;
    animation-iteration-count: infinite;
}

.cards_fondo:hover {
    background: var(--primary-color);
    transition: .8s;
    border: var(--secundary-color) solid 1px;
}

.cards_fondo:hover > h3 {
    color: var(--secundary-color);
    font-weight: bolder;
    font-family: 'creepster';
    transition: .8s;
    transform: scale(2, 2);
    transform-origin: center -20%;
}

.cards_fondo:hover > p {
    visibility: hidden;
}

.contenedor_cards img {
    padding-top: 20px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    margin: auto;
    opacity: 0.7;
}

.cards_fondo:hover > img {
    opacity: 1.0;
}

.contenedor_cards h3{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.contenedor_cards p {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px 20px 10px;
}

footer {
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 20px auto 0;
    border-top: var(--fourth-color) dashed 1px;
}

footer h4 {
    padding-bottom: 10px;
    }
    
footer p {
    font-size: .7rem;
}

.contenedor_cont {
    width: 90%;
    height: 5vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.contenedor_cont ul {
    display: flex;
    text-align: center;
}

.contenedor_cont ul li p {
    display: inline-block;
    margin: auto;
    padding: 0;
    text-align: center;
}

.contenedor_cont ul li a {
    cursor: pointer;
    margin: auto;
    padding: 10px;
    justify-content: space-evenly;
    background: var(--secundary-color);
    color: var(--fourth-color);
    height: 25px;
    width: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.contenedor_cont li {
    margin-left: 15px;
    margin-right: 15px;
}

.contenedor_cont ul li a:hover {
    border: var(--secundary-color) solid 1px;
    background: var(--primary-color);
}

.contenedor_cont ul li .active {
    border: var(--secundary-color) solid 1px;
    background: var(--primary-color);
}

.button_admin {
    cursor: pointer;
    display: flex;
    background: var(--third-color);
    color: var(--fourth-color);
    border: none;
    border-radius: 5px;
    margin: 30px auto;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 10px;
}

.button_admin:hover {
    background: var(--secundary-color);
    transition: .5s;
}



@media screen and (width <= 1200px) {
    
    .contenedor_cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .contenedor {
        background-size: 150vw;
    }
}

@media screen and (width <= 840px) {
    .contenedor_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .contenedor_cont {
        justify-content: space-evenly;
        padding: 10px;
        text-align: center;
    }

    .galeria_flou {
        height: 35vh;    
    }

    .galeria_img {
        transform: scale(95%);
    }

    
}

@media screen and (width <= 415px) {
    .contenedor_cards {
        grid-template-columns: 1fr;
        gap: 25px;
        width: 80%;
    }

    .contenedor {
        height: 55vh;
    }

    .contenedor p {
        display: none;
    }

    .galeria_img {
        transform: scale(75%);
    }
}